:root{
    --primary-text-color: #757575;
    --title-text-color:#212121;
    --accent-text-color:#2196F3;
    --hero-title-color:#FFFFFF;
    --footer-contact:rgba(255, 255, 255, 0.6);
    --background-header-color:#FFFFFF;
    --background-hero-color:#2F303A;
    --background-team-color:#F5F4FA;
    --background-footer-color:#2F303A;
    #188CE8;
}
/* Стили для bady */
body {
    background-color: var(--hero-title-color);
    color: var(--title-text-color);
    font-family:Roboto, sans-serif;
    letter-spacing: 0.03em;
    }
.link{
    list-style:none;
    text-decoration: none;
    font-style:normal;
}
/* Стили для header */
.page-header{
    background-color: var(--background-header-color);
    
}
.logo {
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.logo-web {
    color: var(--accent-text-color);
}
.logo:hover,
.logo:focus {
    color: var(--accent-text-color);
}

/*hero*/
.hero{
    background-color: var(--background-hero-color);
}
/*Стили для button*/
.hero-button {
    color: var(--hero-title-color);
    background-color: var(--accent-text-color);
    font-family: inherit;
}
/* Стили для nav */
.site-nav{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav .link {
    color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-text-color);
}
/* contact */
.contact a {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contact a:hover,
.contact a:focus {
    color: var(--accent-text-color);
}
/* Стили для hero */
.hero-title {
    color: var(--hero-title-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
}
/* Стили для section */
.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
/* Стили для features */
.features-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.features-text {
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.71;
}
.features-title{
    text-transform:uppercase;
    font-size: 14px;
}
/*example*/


/* Стили для team */
.team{
    background-color: var(--background-team-color);
}
.team-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}
.team-text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}
/* footer */
.page-footer{
    background-color: var(--background-footer-color);
    text-indent: 100px;
}
.footer-logo{
    color: var(--hero-title-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.page-footer-logo-web{
    color: var(--accent-text-color)
}
.page-footer a:hover,
.page-footer a:focus {
    color: var(--accent-text-color);
}
/*footer contact*/
.footer-address {
    color: var(--hero-title-color);
}
.page-footer-contact a{
    color: var(--footer-contact);
}
.page-footer-contact a:hover,
.page-footer-contact a:focus {
    color: var(--accent-text-color)
}



/* Портфолио */
.project-button,
.project {
    list-style:none;
}
.project > a{
    text-decoration: none;
}
.project-button button{
    font-family:inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}